.navbar li{
    float: left;
    margin-top: 20px;
    
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(31, 31, 54);
    margin: 0;
    padding: 0;
    height: 10vh;
}

li a{
    
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;
}



img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 20px;
}

.navbar a{
    font-family:monospace;
    position: relative;
    z-index: 0;
    font-size: 20px;
}


.navbar ul li a:before, .navbar ul li a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #710ae7;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.navbar ul li a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

.navbar ul li a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.navbar ul li a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.lg{
    background: linear-gradient(45deg, #710ae7, rgb(7, 7, 184));
    height: 5px;
}