body {
    color: white;
    background-color: rgb(32, 32, 33);
    font-family: monospace;
} 

.custom-modal .modal-content {
  background-color: rgb(30, 31, 31) !important;
  color: white;
}


.task {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #858585;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  width: 30rem;
}

.task:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.task input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  accent-color: #07b2c9;
  cursor: pointer;
}

.task .taskInfo {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fffdfd;
}

.task img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.task img:hover {
  transform: scale(1.15);
}


.taskPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}


.taskPage h2{
  color: #07b2c9;
}

.completed {
    text-decoration: line-through;
    color: gray;
}


@media (max-width: 768px) {
    .task {
        max-width: 100%;
        padding: 6px;
    }

    .task .taskInfo {
        font-size: 14px;
    }

    .task img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 480px) {
    .task {
        flex-direction: column;
        align-items: stretch;
    }

    .task input[type="checkbox"] {
        margin-bottom: 8px;
    }

    .task img {
        align-self: flex-end;
        margin-top: 8px;
    }
}